/* Conteneur de la page Home */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  /* Style du logo*/
  .logo {
    margin-bottom: 50px;
  }
  
  .logo img {
    max-width: 200px;
  }
  
  /* Conteneur pour les boutons */
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .title {
    color: white;
    margin-bottom: 15%;
  }
  
  

 