/* General form container styling */
.form-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  /* Form header */
  h2 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
    font-size: 34px;
    font-weight: 600;
  }
  
  /* General styling for form groups */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 14px;
    color: white;
    margin-bottom: 5px;
  }
  
  /* Input fields styling */
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10%;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 16px;
    background-color: transparent;
    color: white;
    transition: border-color 0.3s ease;
  }

  input.placeholder {
    color: #8a4aae;
  }
  
  /* Input field focus effect */
  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    outline: none;
    border-color: #8a4aae;
  }
  

  /* Form shadow on hover */
  .form-container:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  
  /* Media query for mobile responsiveness */
  @media (max-width: 480px) {
    .form-container {
      padding: 20px;
    }
    
    form h2 {
      font-size: 22px;
    }
  }
  